<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="#ffffffff"
    android:minWidth="25px"
    android:minHeight="25px">
<!---->
    <include
        android:id="@+id/toolbar"
        layout="@layout/toolbar" />
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:id="@+id/relativeLayout1">
        <View
            android:layout_width="wrap_content"
            android:layout_height="5dp"
            android:id="@+id/view1"
            android:background="#ff4c9cce" />
        <View
            android:layout_width="wrap_content"
            android:layout_height="25dp"
            android:layout_below="@id/view1"
            android:id="@+id/view2"
            android:background="#ffdcdcdc" />
        <View
            android:layout_width="2dp"
            android:layout_height="100dp"
            android:id="@+id/view3"
            android:layout_centerHorizontal="true" />
        <View
            android:layout_width="wrap_content"
            android:layout_height="54dp"
            android:id="@+id/CorniceFB"
            android:layout_below="@id/view1"
            android:layout_marginTop="15dp"
            android:layout_alignRight="@id/view3"
            android:layout_marginLeft="-2dp"
            android:background="@drawable/roundedviewblue" />
        <View
            android:layout_width="wrap_content"
            android:layout_height="54dp"
            android:id="@+id/CorniceWA"
            android:layout_alignLeft="@id/view3"
            android:layout_below="@id/view1"
            android:layout_marginTop="15dp"
            android:background="@drawable/roundedviewblue"
            android:layout_marginRight="-2dp" />
        <View
            android:layout_width="wrap_content"
            android:layout_height="44dp"
            android:layout_below="@id/view1"
            android:id="@+id/FBButtonBack"
            android:layout_marginTop="25dp"
            android:layout_toLeftOf="@id/view3"
            android:background="#ffffffff" />
        <View
            android:layout_width="wrap_content"
            android:layout_height="44dp"
            android:layout_below="@id/view1"
            android:id="@+id/WAButtonBack"
            android:layout_marginTop="25dp"
            android:layout_toRightOf="@id/view3"
            android:background="#ffdcdcdc" />
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="wrap_content"
            android:layout_height="52dp"
            android:layout_below="@id/view1"
            android:id="@+id/FBButton"
            android:layout_marginTop="17dp"
            android:layout_alignParentLeft="true"
            android:background="@drawable/roundedviewwhite"
            android:layout_toLeftOf="@id/view3"
            android:gravity="center">
            <ImageView
                android:src="@drawable/fbchat"
                android:layout_width="39dp"
                android:layout_height="39dp"
                android:id="@+id/imageView2" />
        </LinearLayout>
        <LinearLayout
            android:orientation="horizontal"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="wrap_content"
            android:layout_height="52dp"
            android:layout_below="@id/view1"
            android:id="@+id/WAButton"
            android:layout_toRightOf="@id/view3"
            android:layout_marginTop="17dp"
            android:layout_alignParentRight="true"
            android:background="@drawable/roundedviewlightgray"
            android:gravity="center">
            <ImageView
                android:src="@drawable/wachat"
                android:layout_width="39dp"
                android:layout_height="39dp"
                android:id="@+id/imageView1" />
        </LinearLayout>
        <View
            android:layout_height="2dp"
            android:layout_below="@id/CorniceFB"
            android:id="@+id/LeftSeparator"
            android:layout_width="wrap_content"
            android:layout_marginTop="-2dp"
            android:background="#ffffffff"
            android:layout_alignRight="@id/FBButton" />
        <View
            android:layout_height="2dp"
            android:layout_below="@id/WAButton"
            android:id="@+id/RightSeparator"
            android:layout_width="wrap_content"
            android:layout_marginTop="-2dp"
            android:background="#ff4c9cce"
            android:layout_alignParentRight="true"
            android:layout_alignLeft="@id/WAButton" />
        <View
            android:layout_width="2dp"
            android:layout_height="11dp"
            android:id="@+id/CenterSeparator"
            android:layout_alignBottom="@+id/FBButton"
            android:background="#ff4c9cce"
            android:layout_toRightOf="@+id/FBButton"
            android:layout_marginBottom="-0.5dp" />
        <RelativeLayout xmlns:tools="http://schemas.android.com/tools"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_below="@id/CorniceWA"
            android:id="@+id/WAView"
            android:layout_marginTop="0dp"
            tools:visibility="visible">
            <RelativeLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/relativeLayout22"
                android:layout_marginTop="30dp"
                android:gravity="center">
                <Spinner
                    android:layout_width="wrap_content"
                    android:layout_height="40dp"
                    android:id="@+id/spinner1"
                    android:layout_marginRight="10dp"
                    android:layout_centerVertical="true"
                    android:spinnerMode="dropdown"
                    android:background="#ff4c9cce"
                    android:dropDownSelector="#ffc3f3ff"
                    android:popupBackground="#ff4c9cce"
                    android:scrollbars="none" />
                <LinearLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="240dp"
                    android:layout_height="50dp"
                    android:id="@+id/linearLayout1"
                    android:background="#ff4c9cce"
                    android:layout_toRightOf="@id/spinner1">
                    <RelativeLayout
                        android:orientation="horizontal"
                        android:minWidth="25px"
                        android:minHeight="25px"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:id="@+id/relativeLayout2"
                        android:layout_marginLeft="2dp"
                        android:layout_marginTop="2dp"
                        android:layout_marginRight="2dp"
                        android:layout_marginBottom="2dp"
                        android:background="#ffdcdcdc">
                        <ImageView
                            android:src="@drawable/send_message"
                            android:layout_width="30dp"
                            android:layout_height="30dp"
                            android:id="@+id/SendButtonWA"
                            android:layout_alignParentRight="true"
                            android:layout_centerVertical="true"
                            android:layout_marginRight="5dp" />
                        <View
                            android:layout_width="3dp"
                            android:layout_height="match_parent"
                            android:layout_toLeftOf="@id/SendButtonWA"
                            android:id="@+id/view4"
                            android:background="#ff4c9cce"
                            android:layout_marginTop="5dp"
                            android:layout_marginRight="5dp"
                            android:layout_marginBottom="5dp" />
                        <EditText
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            android:layout_toLeftOf="@id/view4"
                            android:id="@+id/NumeroWA"
                            android:layout_alignParentLeft="true"
                            android:layout_centerVertical="true"
                            android:layout_marginLeft="5dp"
                            android:layout_marginRight="12dp"
                            android:hint="Scrivi il numero"
                            android:textSize="16dp"
                            android:textColor="#ff000000"
                            android:paddingLeft="0dp"
                            android:paddingRight="0dp"
                            android:textAllCaps="false"
                            android:background="#ffdcdcdc"
                            android:textColorHint="#ff646464"
                            android:textColorLink="#ffdcdcdc"
                            android:phoneNumber="true"
                            android:cursorVisible="false"
                            android:singleLine="true" />
                    </RelativeLayout>
                </LinearLayout>
            </RelativeLayout>
            <Button
                android:text="Cerca tra i Contatti"
                android:layout_width="170dp"
                android:layout_height="wrap_content"
                android:layout_below="@id/relativeLayout22"
                android:id="@+id/ContattiButton"
                android:background="#ff4c9cce"
                android:layout_centerHorizontal="true"
                android:layout_marginTop="30dp"
                android:textAllCaps="false" />
        </RelativeLayout>
        <RelativeLayout xmlns:tools="http://schemas.android.com/tools"
            android:minWidth="25px"
            android:minHeight="25px"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_below="@id/CorniceWA"
            android:id="@+id/FBView"
            tools:visibility="gone">
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="240dp"
                android:layout_height="50dp"
                android:id="@+id/linearLayout1"
                android:layout_centerHorizontal="true"
                android:layout_marginTop="30dp"
                android:background="#ff4c9cce">
                <RelativeLayout
                    android:orientation="horizontal"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/relativeLayout2"
                    android:layout_marginLeft="2dp"
                    android:layout_marginTop="2dp"
                    android:layout_marginRight="2dp"
                    android:layout_marginBottom="2dp"
                    android:background="#ffdcdcdc">
                    <ImageView
                        android:src="@drawable/find"
                        android:layout_width="30dp"
                        android:layout_height="30dp"
                        android:id="@+id/SendButtonFB"
                        android:layout_alignParentRight="true"
                        android:layout_centerVertical="true"
                        android:layout_marginRight="5dp" />
                    <View
                        android:layout_width="3dp"
                        android:layout_height="match_parent"
                        android:layout_toLeftOf="@id/SendButtonFB"
                        android:id="@+id/view4"
                        android:background="#ff4c9cce"
                        android:layout_marginTop="5dp"
                        android:layout_marginRight="5dp"
                        android:layout_marginBottom="5dp" />
                    <EditText
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:layout_toLeftOf="@id/view4"
                        android:id="@+id/NomeFB"
                        android:layout_alignParentLeft="true"
                        android:layout_centerVertical="true"
                        android:layout_marginLeft="5dp"
                        android:layout_marginRight="12dp"
                        android:hint="Scrivi il nome"
                        android:textSize="16dp"
                        android:textColor="#ff000000"
                        android:paddingLeft="0dp"
                        android:paddingRight="0dp"
                        android:textAllCaps="false"
                        android:background="#ffdcdcdc"
                        android:textColorHint="#ff646464"
                        android:textColorLink="#ffdcdcdc"
                        android:cursorVisible="false"
                        android:singleLine="true" />
                </RelativeLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:layout_below="@id/linearLayout1"
                android:id="@+id/CorniceListFB"
                android:layout_centerHorizontal="true"
                android:layout_marginTop="1dp"
                android:background="#ffffffff"
                android:layout_marginBottom="10dp"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp">
                <TextView
                    android:text="Nessun Risultato Trovato"
                    android:textAppearance="?android:attr/textAppearanceMedium"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/NoResultFB"
                    android:textSize="15dp"
                    android:textColor="#ff000000"
                    android:layout_marginLeft="2dp"
                    android:layout_marginTop="2dp"
                    android:layout_marginRight="2dp"
                    android:layout_marginBottom="2dp"
                    android:gravity="center" />
            </LinearLayout>
        </RelativeLayout>
    </RelativeLayout>
</LinearLayout>