<?xml version="1.0" encoding="utf-8"?>
<android.support.v7.widget.Toolbar xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:id="@+id/toolbar"
    android:layout_width="match_parent"
    android:layout_height="50dp"
    android:background="#ffffffff">
    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ImageView
            android:layout_width="120dp"
            android:layout_height="40dp"
            android:scaleType="fitCenter"
            android:id="@+id/logo"
            android:src="@drawable/logo_lovie"
            android:layout_centerVertical="true"
            android:layout_centerHorizontal="true" />
        <ImageView
            android:layout_width="30dp"
            android:layout_height="30dp"
            android:id="@+id/back_icon"
            android:layout_alignParentLeft="true"
            android:layout_centerVertical="true"
            android:layout_marginLeft="0dp" />
        <ImageView
            android:layout_width="20dp"
            android:layout_height="20dp"
            android:id="@+id/menu_icon"
            android:layout_alignParentRight="true"
            android:layout_centerVertical="true"
            android:layout_marginRight="15dp" />
        <ImageView
            android:layout_width="20dp"
            android:layout_height="20dp"
            android:id="@+id/segn_icon"
            android:layout_toLeftOf="@+id/menu_icon"
            android:layout_centerVertical="true"
            android:layout_marginRight="10dp" />
    </RelativeLayout>
</android.support.v7.widget.Toolbar>